
  .container {
    background-color: #FCF0E4;
    display: grid;
    place-items: center; /* Centers the content */
    height: 100vh; /* Full viewport height */
  }
  
  .content {
    text-align: center; /* Centers the text below the GIF */
  }
  
  .centered-gif {
    max-width: 100%; /* Ensures the GIF is responsive */
    height: auto; /* Maintains aspect ratio */
  }
  
  .text-below {
    font-size: 45px;
    margin-top: 8px; /* Adds space between the GIF and the text */
    color: #333; /* Adjust as needed */
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);  /* Create two columns */
    gap: 80px;  /* Adds space between buttons */
  }
  
  .yes-button {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #bfff8f;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: bold;
  }
  
  .yes-button:hover {
    background-color: #d3ffb4;
  }
  
  .no-button {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffaaaa;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: bold;
  }
  
  .no-button:hover {
    background-color: #ffcaca;
  }
  
  
  